<div class="container left_align">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <div class="card">
        <div class="main">
          <h3>{{'source.register' | i18next}}</h3>
          <form role="form">
            <div class="form-group">
              <label>{{'source.firstName' | i18next}}</label>
              <input type="text" class="form-control" [(ngModel)]="user.firstName" name="user">
            </div>
            <div class="form-group">
              <label>{{'source.lastName' | i18next}}</label>
              <input type="text" class="form-control" [(ngModel)]="user.lastName" name="user">
            </div>
            <div class="form-group">
              <label>{{'source.email' | i18next}}</label>
              <input type="text" class="form-control" [(ngModel)]='user.email' name="user">
            </div>
            <div class="form-group">
              <label>{{'source.password' | i18next}}</label>
              <input type="password" class="form-control" [type]="show ? 'text' : 'password'"
                [(ngModel)]="user.password" name='user' pw-show-hide="icon">
              <span class="hideeye">
                <i [ngClass]="show ? 'fa fa-eye' : 'fa fa-eye-slash'" aria-hidden="true" (click)="hideEye()"></i>
              </span>
            </div>
            <div class="center">
              <button type="submit" class="btn btn btn-primary login" (click)="signup(user)">
                {{'source.submit' | i18next}}
              </button>
            </div>

            <div class="rigister">
              <p class="center">{{'source.alreadyReg' | i18next}}? <a [routerLink]="['']">{{'source.loginHere' | i18next}}</a></p>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-3"></div>
    </div>
  </div>