<div id='template-ik8ar'>
<p id='template-ijwt2'>
<img class='gep-ibm-resize' src='assets/img/ibm-cloud-banner.jpg' alt='IBM Cloud' id='template-idt67'>
</p>
<div class='gep-text-block' id='template-i1nhq'>
<h1 id='template-isrxa'>IBM Cloud</h1>
<p id='template-i5b1b'>The most open and secure public cloud for business</p>
<p id='template-iynfb'>
<span id='template-iw4w8'>Learn more</span>
<span id='template-iczw9'>
<img src='assets/img/iconfinder_Arrow_Forward_1063879.png' width='20' height='20' id='template-il7po'>
</span>
</p>
</div>
</div>
<div class='gep-secondtag gep-mobilesecondtag' id='template-iudsw'>
<h2 id='template-iwsrl'>Inside IBM</h2>
<div class='row' id='template-ixhcx'>
<div class='col-lg-4 col-md-4 col-sm-4' id='template-i0upa'>
<p id='template-iedcd'>IBM Cloud Paks</p>
<img class='gep-Firstimage gep-ibm-padding-bottom-1' src='assets/img/Cloud Paks.png' id='template-iq6zr'>
<div id='template-ipuhh'>
<p id='template-icmny'>
A faster, more reliable way to modernize and 
<br id='template-iptfb'>

                        move to cloud
</p>
</div>
<p class='gep-ibm-textcolor-systems-blue-5' id='template-ijaev'>
<span id='template-i7o88'>Read more  </span>
<span id='template-ianws'>
<img src='assets/img/iconfinder_Right_Arrow_2125610.png' width='40' height='40' id='template-i8aej'>
</span>
</p>
</div>
<div class='col-lg-4 col-md-4 col-sm-4' id='template-i64iz'>
<p id='template-ipdx9'>Call for Code Challenge</p>
<img class='gep-Firstimage gep-ibm-padding-bottom-1' src='assets/img/call-for-code.jpg' id='template-iwe35'>
<div id='template-iglzk'>
<p id='template-ik0sh'>

                        How would you use technology to take on 
<br id='template-ix79j'>

                        climate change?
                    
</p>
</div>
<p class='gep-ibm-padding-bottom-0' id='template-ir3ik'>
<span class='gep-ibm-textcolor-systems-blue-5' id='template-ifhgq'>
<span id='template-iq40t'>
Answer the call and start innovating 
<br id='template-iefnh'>

                            for the future today 
</span>
<span id='template-into7'>
<img src='assets/img/iconfinder_Right_Arrow_2125610.png' width='40' height='40' id='template-i1qai'>
</span>
</span>
</p>
</div>
<div class='col-lg-4 col-md-4 col-sm-4' id='template-inqih'>
<p id='template-i262q'>
                    Data and AI Virtual Forum
                </p>
<img class='gep-Firstimage gep-ibm-padding-bottom-1' src='assets/img/AI-event.jpg' id='template-izn7t'>
<div id='template-iwns9'>
<p id='template-i6eek'>
                        Accelerate your journey to AI
                    </p>
<p class='gep-ibm-textcolor-systems-blue-5' id='template-i527p'>
<span id='template-ifif2'>Watch replay  </span>
<span id='template-isciv'>
<img src='assets/img/iconfinder_Right_Arrow_2125610.png' width='40' height='40' id='template-i42qf'>
</span>
</p>
</div>
</div>
</div>
</div>
<div class='gep-ibmthirdtag' id='template-ixavc'>
<div class='gep-secondtag gep-ibm-padding-bottom-2 gep-ibm-padding-top-3' id='template-ib5nk'>
<h2 id='template-ijoth'>Find products and services in the IBM Marketplace</h2>
</div>
<div id='template-i2yy8'>
<form class='form-inline gep-inputsearchbar'>
<div class='form-control gep-inputsearchbarwidth' placeholder='Search IBM Marketplace' id='template-ig78a'>
</div>
<span class='gep-searchbarappend' id='template-ios0k'>
<i class='fa fa-search' id='template-ijcf4'></i>
</span>
<span class='gep-moreproducts' id='template-imu1r'>
<p class='gep-ibm-textcolor-systems-blue-5' id='template-idwwl'>
<span id='template-ipn8u'>See more products </span>
<span id='template-i5hii'>
<img src='assets/img/iconfinder_Right_Arrow_2125610.png' width='40' height='40' id='template-ij1sy'>
</span>
</p>
</span>
</form>
</div>
<div class='gep-secondtag gep-ibm-padding-bottom-2' id='template-ikmcd'>
<h2 id='template-irh83'>Technologies</h2>
<div class='row' id='template-ikt5j'>
<div class='col-lg-4 col-md-4 col-sm-4' id='template-i20x6'>
<p class='gep-ibm-textcolor-systems-blue-5' id='template-ini5yh'>
<span id='template-i5ckv3'>Analytics  </span>
<span id='template-id3n06'>
<img src='assets/img/iconfinder_Right_Arrow_2125610.png' width='40' height='40' id='template-i718ta'>
</span>
</p>
<p class='gep-ibm-textcolor-systems-blue-5' id='template-ip848z'>
<span id='template-i75a0l'>Cloud computing  </span>
<span id='template-i7f36t'>
<img src='assets/img/iconfinder_Right_Arrow_2125610.png' width='40' height='40' id='template-iq6gq1'>
</span>
</p>
<p class='gep-ibm-textcolor-systems-blue-5' id='template-in0j9s'>
<span id='template-iuo0ha'>Mobile technology  </span>
<span id='template-ioyof3'>
<img src='assets/img/iconfinder_Right_Arrow_2125610.png' width='40' height='40' id='template-i1a1bd'>
</span>
</p>
</div>
<div class='col-lg-4 col-md-4 col-sm-4' id='template-iv876j'>
<p class='gep-ibm-textcolor-systems-blue-5' id='template-isqt3q'>
<span id='template-iohgxn'>Artificial intelligence  </span>
<span id='template-i88qui'>
<img src='assets/img/iconfinder_Right_Arrow_2125610.png' width='40' height='40' id='template-io68nl'>
</span>
</p>
<p class='gep-ibm-textcolor-systems-blue-5' id='template-innkse'>
<span id='template-i6rb97'>IT infrastructure  </span>
<span id='template-is655l'>
<img src='assets/img/iconfinder_Right_Arrow_2125610.png' width='40' height='40' id='template-isae26'>
</span>
</p>
<p class='gep-ibm-textcolor-systems-blue-5' id='template-i2z0us'>
<span id='template-ibsmep'>Security  </span>
<span id='template-ie9s1i'>
<img src='assets/img/iconfinder_Right_Arrow_2125610.png' width='40' height='40' id='template-ib1eis'>
</span>
</p>
</div>
<div class='col-lg-4 col-md-4 col-sm-4' id='template-ifvmvq'>
<p class='gep-ibm-textcolor-systems-blue-5' id='template-i8cp1g'>
<span id='template-iwl8dv'>Blockchain  </span>
<span id='template-irphek'>
<img src='assets/img/iconfinder_Right_Arrow_2125610.png' width='40' height='40' id='template-iyjl1o'>
</span>
</p>
<p class='gep-ibm-textcolor-systems-blue-5' id='template-iiax66'>
<span id='template-i7hsc2'>IT management  </span>
<span id='template-ielzg6'>
<img src='assets/img/iconfinder_Right_Arrow_2125610.png' width='40' height='40' id='template-im8dmh'>
</span>
</p>
<p class='gep-ibm-textcolor-systems-blue-5' id='template-id2ur2'>
<span id='template-iko42f'>Software development  </span>
<span id='template-idjhqy'>
<img src='assets/img/iconfinder_Right_Arrow_2125610.png' width='40' height='40' id='template-i19e6y'>
</span>
</p>
</div>
</div>
</div>
<div class='gep-secondtag' id='template-i2cvrz'>
<h2 id='template-ih110k'>Business needs</h2>
<div class='row' id='template-i2gko2'>
<div class='col-lg-4 col-md-4 col-sm-4' id='template-i85o9m'>
<p class='gep-ibm-textcolor-systems-blue-5' id='template-inv6ru'>
<span id='template-ii17c8'>Business operations  </span>
<span id='template-i3lw14'>
<img src='assets/img/iconfinder_Right_Arrow_2125610.png' width='40' height='40' id='template-iyogqw'>
</span>
</p>
<p class='gep-ibm-textcolor-systems-blue-5' id='template-im8t5i'>
<span id='template-ibz89p'>Content management  </span>
<span id='template-iaxvjh'>
<img src='assets/img/iconfinder_Right_Arrow_2125610.png' width='40' height='40' id='template-idh3o9'>
</span>
</p>
<p class='gep-ibm-textcolor-systems-blue-5' id='template-inx923'>
<span id='template-illc5y'>Human resources  </span>
<span id='template-ix8ydo'>
<img src='assets/img/iconfinder_Right_Arrow_2125610.png' width='40' height='40' id='template-i6rqdu'>
</span>
</p>
</div>
<div class='col-lg-4 col-md-4 col-sm-4' id='template-i0hmnj'>
<p class='gep-ibm-textcolor-systems-blue-5' id='template-ilfo7i'>
<span id='template-i5wnij'>Collaboration  </span>
<span id='template-ilzpul'>
<img src='assets/img/iconfinder_Right_Arrow_2125610.png' width='40' height='40' id='template-izbafi'>
</span>
</p>
<p class='gep-ibm-textcolor-systems-blue-5' id='template-ijva21'>
<span id='template-ica5tz'>Customer service and CRM  </span>
<span id='template-ikcswm'>
<img src='assets/img/iconfinder_Right_Arrow_2125610.png' width='40' height='40' id='template-icxogx'>
</span>
</p>
<p class='gep-ibm-textcolor-systems-blue-5' id='template-irxde1'>
<span id='template-i6xnjv'>Marketing and sales  </span>
<span id='template-iey9ub'>
<img src='assets/img/iconfinder_Right_Arrow_2125610.png' width='40' height='40' id='template-i8vkua'>
</span>
</p>
</div>
<div class='col-lg-4 col-md-4 col-sm-4' id='template-ise892'>
<p class='gep-ibm-textcolor-systems-blue-5' id='template-i1zvaw'>
<span id='template-iq8hyt'>Commerce  </span>
<span id='template-iyw37h'>
<img src='assets/img/iconfinder_Right_Arrow_2125610.png' width='40' height='40' id='template-il1143'>
</span>
</p>
<p class='gep-ibm-textcolor-systems-blue-5' id='template-i4ya7i'>
<span id='template-imw2s4'>Finance  </span>
<span id='template-iafwju'>
<img src='assets/img/iconfinder_Right_Arrow_2125610.png' width='40' height='40' id='template-i1es1g'>
</span>
</p>
<p class='gep-ibm-textcolor-systems-blue-5' id='template-ief7zg'>
<span id='template-ilt6nv'>Supply chain management  </span>
<span id='template-ir6j7v'>
<img src='assets/img/iconfinder_Right_Arrow_2125610.png' width='40' height='40' id='template-ide9cl'>
</span>
</p>
</div>
</div>
</div>
</div>
<div class='gep-ibmfourthtag' id='template-id7ws1'>
<div class='gep-secondtag gep-ibm-padding-top-3' id='template-i083k2'>
<h2 id='template-ikr7xr'>
                Explore product trials and offers
            </h2>
</div>
<div class='gep-secondtag gep-ibm-padding-bottom-2' id='template-ihfd17'>
<p class='gep-ibm-textcolor-systems-blue-5' id='template-intf23'>
<span id='template-igv8yp'>View more offers  </span>
<span id='template-i1rqc6'>
<img src='assets/img/iconfinder_Right_Arrow_2125610.png' width='40' height='40' id='template-ialswk'>
</span>
</p>
</div>
<div id='template-ixxhuj'>
<div class='gep-secondtag' id='template-iaqdyg'>
<div class='row' id='template-i1hwp7'>
<div class='col-lg-3 col-md-3 col-sm-3' id='template-ied3l4'>
<p id='template-iuigbt'>IBM MQ on Cloud</p>
<img class='gep-Firstimage gep-ibm-padding-bottom-1' src='assets/img/lapimage1.png' id='template-ibeci4'>
<div id='template-ix3fyz'>
<p id='template-ihc3uy'>
Put enterprise messaging in the cloud with a 
<br id='template-i4j9zk'>

                                fully managed message queue
</p>
</div>
<p class='gep-ibm-textcolor-systems-blue-5' id='template-ivtp8z'>
<span id='template-iwjihp'>Start your free trail  </span>
<span id='template-iabs1s'>
<img src='assets/img/iconfinder_Right_Arrow_2125610.png' width='40' height='40' id='template-i4irbv'>
</span>
</p>
</div>
<div class='col-lg-3 col-md-3 col-sm-3' id='template-if4lip'>
<p id='template-iu9wgk'>IBM Cloud Pak for Data</p>
<img class='gep-Firstimage gep-ibm-padding-bottom-1' src='assets/img/lapimage2.png' id='template-inq4rb'>
<div id='template-iw81kl'>
<p id='template-ii3oml'>
Accelerate your journey to AI with a cloud- 
<br id='template-il0ppf'>

                                native data platform
</p>
</div>
<p class='gep-ibm-textcolor-systems-blue-5' id='template-i9iujv'>
<span id='template-itxzf4'>Start your 7-day trail  </span>
<span id='template-itbtkl'>
<img src='assets/img/iconfinder_Right_Arrow_2125610.png' width='40' height='40' id='template-iq5qb8'>
</span>
</p>
</div>
<div class='col-lg-3 col-md-3 col-sm-3' id='template-izpgbd'>
<p id='template-ixekuu'>IBM MaasS360 with Watson</p>
<img class='gep-Firstimage gep-ibm-padding-bottom-1' src='assets/img/lapimage3.png' id='template-irniip'>
<div id='template-iv5mlq'>
<p id='template-isj9p7'>
Use AI to enable your devices, users, apps, 
<br id='template-imeh1n'>

                                content and data
</p>
</div>
<p class='gep-ibm-textcolor-systems-blue-5' id='template-ix8slq'>
<span id='template-ip03ty'>Start your free trail  </span>
<span id='template-i38kh7'>
<img src='assets/img/iconfinder_Right_Arrow_2125610.png' width='40' height='40' id='template-iwty9x'>
</span>
</p>
</div>
<div class='col-lg-3 col-md-3 col-sm-3' id='template-iyvbqn'>
<p id='template-i2bprc'>IBM Cognos Analytics</p>
<img class='gep-Firstimage gep-ibm-padding-bottom-1' src='assets/img/lapimage4.png' id='template-il2gaq'>
<div id='template-ifa6cz'>
<p id='template-ihhj58'>
Unearth hidden insights with personalized 
<br id='template-igw01w'>

                                analytics driven by AI
</p>
</div>
<p class='gep-ibm-textcolor-systems-blue-5' id='template-i8a2jh'>
<span id='template-ipay0c'>Start trail on Cloud  </span>
<span id='template-i6flfg'>
<img src='assets/img/iconfinder_Right_Arrow_2125610.png' width='40' height='40' id='template-i77p7k'>
</span>
</p>
</div>
</div>
</div>
</div>
</div>
<div id='template-iywj7c'>
<div class='gep-secondtag gep-ibm-padding-bottom-3 gep-ibm-padding-top-3' id='template-i7t4yj'>
<div class='row' id='template-izx7xb'>
<div class='col-lg-3 col-md-3 col-sm-3' id='template-iimkw1'>
<p id='template-imvqeg'>Join IBM and do your best work ever</p>
</div>
<div class='col-lg-3 col-md-3 col-sm-3' id='template-iv23c2'>
<p class='gep-ibm-textcolor-systems-blue-5' id='template-ihf0ms'>
<span id='template-ib88e3'>Visit IBM Global Careers  </span>
<span id='template-ivsc7q'>
<img src='assets/img/iconfinder_Right_Arrow_2125610.png' width='40' height='40' id='template-i18i4e'>
</span>
</p>
</div>
</div>
</div>
</div>