<footer class='gep-ibmfourthtag' id='template-izhczv'>
<div class='gep-secondtag' id='template-i232or'>
<div class='row' id='template-iacrog'>
<div class='col-lg-3 col-md-3 col-sm-3' id='template-iugkvk'>
<div class='gep-ibm-padding-bottom-5 gep-ibm-padding-top-3' id='template-ionya4'>
<h3 id='template-i4u2yq'>Discover</h3>
</div>
<p id='template-iv28tw'>Products</p>
<p id='template-igfs8u'>Trials</p>
<p id='template-i0cewc'>Services</p>
<p id='template-ibwivr'>Industries</p>
<p id='template-i8vr6f'>IBM discounts</p>
<p id='template-i746em'>Case studies</p>
</div>
<div class='col-lg-3 col-md-3 col-sm-3' id='template-ionwcl'>
<div class='gep-ibm-padding-bottom-5 gep-ibm-padding-top-3' id='template-il64kl'>
<h3 id='template-i56qva'>Information for...</h3>
</div>
<p id='template-izuoub'>Developers</p>
<p id='template-isby4s'>Business Partners</p>
<p id='template-idtbb5'>Fedreal and state contracts</p>
</div>
<div class='col-lg-3 col-md-3 col-sm-3' id='template-idep2k'>
<div class='gep-ibm-padding-bottom-5 gep-ibm-padding-top-3' id='template-iwynfm'>
<h3 id='template-iv4uyn'>Connect with us</h3>
</div>
<p id='template-i27t6w'>Support</p>
<p id='template-isctzr'>Find a sales rep</p>
<p id='template-ihwi8z'>Find a Business Partner</p>
</div>
<div class='col-lg-3 col-md-3 col-sm-3' id='template-ikp2uh'>
<div class='gep-ibm-padding-bottom-5 gep-ibm-padding-top-3' id='template-iuzusc'>
<h3 id='template-i7z41y'>About IBM</h3>
</div>
<p id='template-ic5tx6'>Careers</p>
<p id='template-il5297'>Latest news</p>
<p id='template-ihy0u5'>Investor realtions</p>
<p id='template-ihirzr'>Corporate responsibility</p>
<p id='template-i6zzef'>About IBM</p>
</div>
</div>
</div>
<hr id='template-ifq9sl'>
<div class='gep-secondtag' id='template-ih6k8j'>
<p id='template-igluut'>
<span id='template-itg9l4'>Contact</span>
<span class='gep-footercontent' id='template-idme0w'>Privacy</span>
<span class='gep-footercontent' id='template-ie5l1y'>Terms of use</span>
<span class='gep-footercontent' id='template-ifax4v'>Accessibility</span>
<span class='gep-footercontent' id='template-ialb51'>Cookie preferences</span>
<span class='Geppetto' id='template-ipov3j'>

                    Powered By Geppetto
                    
<img src='assets/img/GeppettoIcon.png' width='50' height='50' id='template-ioolwf'>
</span>
</p>
</div>
</footer>